USE [CalizaDB]
GO
/****** Object:  Schema [cat]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [cat]
GO
/****** Object:  Schema [cfg]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [cfg]
GO
/****** Object:  Schema [crm]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [crm]
GO
/****** Object:  Schema [inv]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [inv]
GO
/****** Object:  Schema [op]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [op]
GO
/****** Object:  Schema [prd]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [prd]
GO
/****** Object:  Schema [rep]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [rep]
GO
/****** Object:  Schema [stg]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Schema [tpt]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [tpt]
GO
/****** Object:  Schema [vtas]    Script Date: 29/10/2025 10:30:16 a. m. ******/
CREATE SCHEMA [vtas]
GO
/****** Object:  Table [op].[Recibo]    Script Date: 29/10/2025 10:30:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [op].[Recibo](
	[Id] [uniqueidentifier] NOT NULL,
	[Consecutivo] [int] NOT NULL,
	[FechaCreacion] [datetimeoffset](0) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[PlacaSnapshot] [nvarchar](10) NULL,
	[ConductorId] [int] NULL,
	[ConductorNombreSnapshot] [nvarchar](120) NULL,
	[DestinoTipo] [tinyint] NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[ClienteId] [int] NULL,
	[MaterialId] [int] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[UsuarioCreador] [nvarchar](64) NOT NULL,
	[Observaciones] [nvarchar](512) NULL,
	[UltimaActualizacion] [datetimeoffset](0) NULL,
	[ReciboFisicoNumero] [nvarchar](50) NULL,
	[NumeroGenerado] [nvarchar](50) NULL,
	[AutoGenerado] [bit] NOT NULL,
	[AutoGeneradoEn] [datetimeoffset](0) NULL,
	[Activo] [bit] NOT NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[AlmacenOrigenId] [int] NOT NULL,
	[ReciboFisicoNumeroNorm] [nvarchar](50) NULL,
	[IdempotencyKey] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rep].[vwRpt_Operativo_VehiculoConductor]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [rep].[vwRpt_Operativo_VehiculoConductor] AS
SELECT 
  r.Id            AS ReciboId,
  r.FechaCreacion AS Fecha,
  r.VehiculoId,
  r.ConductorId,
  r.EmpresaId,
  r.MaterialId,
  r.Cantidad      AS CantidadM3,
  r.Estado        AS EstadoRecibo
FROM op.Recibo r;
GO
/****** Object:  Table [tpt].[LiquidacionConductor]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[LiquidacionConductor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConductorId] [int] NOT NULL,
	[PeriodoInicio] [date] NOT NULL,
	[PeriodoFin] [date] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[Observacion] [nvarchar](512) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CreadoEn] [datetimeoffset](0) NOT NULL,
	[CreadoPor] [nvarchar](64) NOT NULL,
	[ModificadoEn] [datetimeoffset](0) NULL,
	[ModificadoPor] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[LiquidacionConductorDet]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[LiquidacionConductorDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiquidacionId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[ViajeId] [int] NULL,
	[ReciboId] [uniqueidentifier] NULL,
	[RemisionId] [int] NULL,
	[ClienteId] [int] NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[ProductoId] [int] NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[Unidad] [nvarchar](10) NOT NULL,
	[TarifaAplicada] [decimal](18, 2) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rep].[vwRpt_Economico_Liquidacion]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [rep].[vwRpt_Economico_Liquidacion] AS
SELECT 
  d.LiquidacionId,
  l.ConductorId,
  d.Fecha,
  d.ClienteId,
  d.VehiculoId,
  d.ProductoId,
  d.Unidad,
  d.Cantidad,
  d.TarifaAplicada,
  d.Valor,
  d.ReciboId,
  d.RemisionId
FROM tpt.LiquidacionConductorDet d
JOIN tpt.LiquidacionConductor l ON l.Id = d.LiquidacionId;
GO
/****** Object:  Table [cat].[Producto]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cat].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Tipo] [tinyint] NOT NULL,
	[UnidadId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Vendible] [bit] NOT NULL,
	[RequiereTrituracion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cat].[Unidad]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cat].[Unidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[Almacen]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[Almacen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlantaId] [int] NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Tipo] [tinyint] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[Empresa]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[Empresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[NIT] [nvarchar](32) NULL,
	[Activo] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[Impuesto]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[Impuesto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](64) NOT NULL,
	[Pct] [decimal](5, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[NovedadTipo]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[NovedadTipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](32) NOT NULL,
	[Nombre] [nvarchar](128) NOT NULL,
	[AfectaLiquidacionDef] [bit] NOT NULL,
	[AfectaInventarioDef] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[NumeroSerie]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[NumeroSerie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](32) NOT NULL,
	[Scope] [nvarchar](64) NOT NULL,
	[Ultimo] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[UltimaActualizacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[Planta]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[Planta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[UbicacionGPS] [nvarchar](64) NULL,
	[Activo] [bit] NOT NULL,
	[ModoDespachoPostTrituracion] [nvarchar](1) NULL,
	[UmbralHibridoPct] [decimal](5, 4) NULL,
	[ManejaLotes] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[Rol]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[RolPermiso]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[RolPermiso](
	[RolId] [int] NOT NULL,
	[Permiso] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_RolPermiso] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC,
	[Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crm].[Cliente]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crm].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[NIT] [nvarchar](32) NULL,
	[Activo] [bit] NOT NULL,
	[ListaPrecios] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [inv].[Lote]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inv].[Lote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](40) NOT NULL,
	[PlantaId] [int] NOT NULL,
	[AlmacenId] [int] NOT NULL,
	[OrigenTipo] [tinyint] NOT NULL,
	[OrigenId] [nvarchar](64) NOT NULL,
	[Fecha] [datetimeoffset](0) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[CantidadInicial] [decimal](18, 3) NOT NULL,
	[SaldoActual] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [inv].[MovInv]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inv].[MovInv](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetimeoffset](0) NOT NULL,
	[AlmacenId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[LoteId] [int] NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[TipoMov] [char](3) NOT NULL,
	[RefTabla] [nvarchar](32) NULL,
	[RefId] [nvarchar](64) NULL,
	[Nota] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [inv].[Stock]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inv].[Stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlmacenId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[LoteId] [int] NOT NULL,
	[Saldo] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [op].[Consecutivos]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [op].[Consecutivos](
	[EmpresaId] [int] NOT NULL,
	[Siguiente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [op].[ReciboEstadoLog]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [op].[ReciboEstadoLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReciboId] [uniqueidentifier] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[Cuando] [datetimeoffset](0) NOT NULL,
	[Nota] [nvarchar](256) NULL,
	[GPS] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prd].[Proceso]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prd].[Proceso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReciboId] [uniqueidentifier] NOT NULL,
	[RecetaId] [int] NULL,
	[Estado] [tinyint] NOT NULL,
	[EntradaM3] [decimal](18, 3) NOT NULL,
	[Observacion] [nvarchar](512) NULL,
	[CreadoEn] [datetimeoffset](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prd].[ProcesoDet]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prd].[ProcesoDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcesoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[CantidadM3] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProcesoId] ASC,
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prd].[Receta]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prd].[Receta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlantaId] [int] NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Version] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[ProductoOrigenId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prd].[RecetaDet]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prd].[RecetaDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecetaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[PorcSalida] [decimal](9, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RecetaId] ASC,
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prd].[SalidaProductoFinal]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prd].[SalidaProductoFinal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReciboId] [uniqueidentifier] NOT NULL,
	[ProductoFinalId] [int] NOT NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[Unidad] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[MapVehiculoClase]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[MapVehiculoClase](
	[PLACA] [nvarchar](20) NOT NULL,
	[ClaseVehiculoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PLACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Retro2025]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Retro2025](
	[FECHA] [date] NULL,
	[NO_RECIBO] [int] NULL,
	[MATERIAL] [nvarchar](120) NULL,
	[COL4] [nvarchar](200) NULL,
	[CLIENTE] [nvarchar](200) NULL,
	[PLACA] [nvarchar](20) NULL,
	[CANTIDAD] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[RetroRecepciones]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[RetroRecepciones](
	[FECHA] [date] NULL,
	[NO_RECIBO] [int] NULL,
	[MATERIAL] [nvarchar](200) NULL,
	[CLIENTE] [nvarchar](200) NULL,
	[PLACA] [nvarchar](20) NULL,
	[CANTIDAD] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[RetroRecepcionesRaw]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[RetroRecepcionesRaw](
	[FECHA] [nvarchar](200) NULL,
	[NO_RECIBO] [nvarchar](200) NULL,
	[MATERIAL] [nvarchar](400) NULL,
	[_BLANK_] [nvarchar](100) NULL,
	[CLIENTE] [nvarchar](400) NULL,
	[PLACA] [nvarchar](100) NULL,
	[CANTIDAD] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[VehConductor]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[VehConductor](
	[PLACA] [nvarchar](20) NOT NULL,
	[CONDUCTOR] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[VehConductorRaw]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[VehConductorRaw](
	[PLACA] [nvarchar](100) NULL,
	[CONDUCTOR] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[ClaseVehiculo]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[ClaseVehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CapacidadM3] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[Conductor]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[Conductor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [nvarchar](32) NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[LiquidacionAjuste]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[LiquidacionAjuste](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiquidacionId] [int] NOT NULL,
	[Tipo] [nvarchar](16) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Nota] [nvarchar](256) NULL,
	[NovedadId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[Novedad]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[Novedad](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetimeoffset](0) NOT NULL,
	[TipoId] [int] NOT NULL,
	[Severidad] [tinyint] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Observacion] [nvarchar](1024) NULL,
	[AfectaLiquidacion] [bit] NOT NULL,
	[AfectaInventario] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](0) NOT NULL,
	[CreadoPor] [nvarchar](64) NOT NULL,
	[ModificadoEn] [datetimeoffset](0) NULL,
	[ModificadoPor] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[NovedadAdjunto]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[NovedadAdjunto](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NovedadId] [bigint] NOT NULL,
	[Url] [nvarchar](512) NOT NULL,
	[TipoMime] [nvarchar](64) NULL,
	[Nombre] [nvarchar](256) NULL,
	[PesoBytes] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[NovedadConductor]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[NovedadConductor](
	[NovedadId] [bigint] NOT NULL,
	[ConductorId] [int] NOT NULL,
 CONSTRAINT [PK_NovConductor] PRIMARY KEY CLUSTERED 
(
	[NovedadId] ASC,
	[ConductorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[NovedadRecibo]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[NovedadRecibo](
	[NovedadId] [bigint] NOT NULL,
	[ReciboId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_NovRecibo] PRIMARY KEY CLUSTERED 
(
	[NovedadId] ASC,
	[ReciboId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[NovedadRemision]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[NovedadRemision](
	[NovedadId] [bigint] NOT NULL,
	[RemisionId] [int] NOT NULL,
 CONSTRAINT [PK_NovRemision] PRIMARY KEY CLUSTERED 
(
	[NovedadId] ASC,
	[RemisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[NovedadVehiculo]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[NovedadVehiculo](
	[NovedadId] [bigint] NOT NULL,
	[VehiculoId] [int] NOT NULL,
 CONSTRAINT [PK_NovVehiculo] PRIMARY KEY CLUSTERED 
(
	[NovedadId] ASC,
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[TarifaConductor]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[TarifaConductor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VigenciaDesde] [date] NOT NULL,
	[VigenciaHasta] [date] NULL,
	[ClienteId] [int] NULL,
	[ProductoId] [int] NULL,
	[PlantaId] [int] NULL,
	[ClaseVehiculoId] [int] NULL,
	[Unidad] [nvarchar](10) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Prioridad] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[Vehiculo]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[Vehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](10) NOT NULL,
	[ClaseVehiculoId] [int] NOT NULL,
	[EmpresaId] [int] NULL,
	[EsFavorito] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tpt].[VehiculoConductorHist]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tpt].[VehiculoConductorHist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[ConductorId] [int] NOT NULL,
	[Desde] [datetimeoffset](0) NOT NULL,
	[Hasta] [datetimeoffset](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vtas].[Remision]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vtas].[Remision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](30) NOT NULL,
	[Fecha] [datetimeoffset](0) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[PedidoId] [int] NULL,
	[AlmacenId] [int] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[Placa] [nvarchar](10) NULL,
	[Conductor] [nvarchar](120) NULL,
	[EmpresaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vtas].[RemisionDet]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vtas].[RemisionDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RemisionId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[LoteId] [int] NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[PrecioUnit] [decimal](18, 2) NOT NULL,
	[ImpuestoId] [int] NULL,
	[DescuentoPct] [decimal](9, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cat].[Producto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cat].[Producto] ADD  CONSTRAINT [DF_Producto_Vendible]  DEFAULT ((1)) FOR [Vendible]
GO
ALTER TABLE [cat].[Producto] ADD  CONSTRAINT [DF_Producto_ReqTr]  DEFAULT ((0)) FOR [RequiereTrituracion]
GO
ALTER TABLE [cfg].[Almacen] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cfg].[Empresa] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cfg].[Empresa] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [cfg].[Impuesto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cfg].[NovedadTipo] ADD  DEFAULT ((0)) FOR [AfectaLiquidacionDef]
GO
ALTER TABLE [cfg].[NovedadTipo] ADD  DEFAULT ((0)) FOR [AfectaInventarioDef]
GO
ALTER TABLE [cfg].[NovedadTipo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cfg].[NumeroSerie] ADD  DEFAULT ((0)) FOR [Ultimo]
GO
ALTER TABLE [cfg].[NumeroSerie] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [cfg].[Planta] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cfg].[Planta] ADD  CONSTRAINT [DF_Planta_ManejaLotes]  DEFAULT ((1)) FOR [ManejaLotes]
GO
ALTER TABLE [crm].[Cliente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [inv].[Lote] ADD  DEFAULT (sysdatetimeoffset()) FOR [Fecha]
GO
ALTER TABLE [inv].[MovInv] ADD  DEFAULT (sysdatetimeoffset()) FOR [Fecha]
GO
ALTER TABLE [op].[Recibo] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [op].[Recibo] ADD  DEFAULT (NEXT VALUE FOR [op].[Seq_Recibo]) FOR [Consecutivo]
GO
ALTER TABLE [op].[Recibo] ADD  DEFAULT (sysdatetimeoffset()) FOR [FechaCreacion]
GO
ALTER TABLE [op].[Recibo] ADD  DEFAULT ((0)) FOR [AutoGenerado]
GO
ALTER TABLE [op].[Recibo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [op].[ReciboEstadoLog] ADD  DEFAULT (sysdatetimeoffset()) FOR [Cuando]
GO
ALTER TABLE [prd].[Proceso] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [prd].[Receta] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [prd].[Receta] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [tpt].[Conductor] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [tpt].[LiquidacionConductor] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [tpt].[LiquidacionConductor] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [tpt].[Novedad] ADD  DEFAULT (sysdatetimeoffset()) FOR [Fecha]
GO
ALTER TABLE [tpt].[Novedad] ADD  DEFAULT ((0)) FOR [AfectaLiquidacion]
GO
ALTER TABLE [tpt].[Novedad] ADD  DEFAULT ((0)) FOR [AfectaInventario]
GO
ALTER TABLE [tpt].[Novedad] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [tpt].[TarifaConductor] ADD  DEFAULT ((100)) FOR [Prioridad]
GO
ALTER TABLE [tpt].[TarifaConductor] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [tpt].[Vehiculo] ADD  DEFAULT ((0)) FOR [EsFavorito]
GO
ALTER TABLE [tpt].[Vehiculo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [tpt].[VehiculoConductorHist] ADD  DEFAULT (sysdatetimeoffset()) FOR [Desde]
GO
ALTER TABLE [vtas].[Remision] ADD  DEFAULT (CONVERT([nvarchar](30),NEXT VALUE FOR [vtas].[Seq_Remision])) FOR [Numero]
GO
ALTER TABLE [vtas].[Remision] ADD  DEFAULT (sysdatetimeoffset()) FOR [Fecha]
GO
ALTER TABLE [vtas].[RemisionDet] ADD  DEFAULT ((0)) FOR [PrecioUnit]
GO
ALTER TABLE [vtas].[RemisionDet] ADD  DEFAULT ((0)) FOR [DescuentoPct]
GO
ALTER TABLE [cat].[Producto]  WITH CHECK ADD FOREIGN KEY([UnidadId])
REFERENCES [cat].[Unidad] ([Id])
GO
ALTER TABLE [cfg].[Almacen]  WITH CHECK ADD FOREIGN KEY([PlantaId])
REFERENCES [cfg].[Planta] ([Id])
GO
ALTER TABLE [cfg].[Planta]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [cfg].[Empresa] ([Id])
GO
ALTER TABLE [cfg].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [cfg].[Rol] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [inv].[Lote]  WITH CHECK ADD FOREIGN KEY([AlmacenId])
REFERENCES [cfg].[Almacen] ([Id])
GO
ALTER TABLE [inv].[Lote]  WITH CHECK ADD FOREIGN KEY([PlantaId])
REFERENCES [cfg].[Planta] ([Id])
GO
ALTER TABLE [inv].[Lote]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [inv].[MovInv]  WITH CHECK ADD FOREIGN KEY([AlmacenId])
REFERENCES [cfg].[Almacen] ([Id])
GO
ALTER TABLE [inv].[MovInv]  WITH CHECK ADD FOREIGN KEY([LoteId])
REFERENCES [inv].[Lote] ([Id])
GO
ALTER TABLE [inv].[MovInv]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [inv].[Stock]  WITH CHECK ADD FOREIGN KEY([AlmacenId])
REFERENCES [cfg].[Almacen] ([Id])
GO
ALTER TABLE [inv].[Stock]  WITH CHECK ADD FOREIGN KEY([LoteId])
REFERENCES [inv].[Lote] ([Id])
GO
ALTER TABLE [inv].[Stock]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD FOREIGN KEY([AlmacenOrigenId])
REFERENCES [cfg].[Almacen] ([Id])
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [crm].[Cliente] ([Id])
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD FOREIGN KEY([ConductorId])
REFERENCES [tpt].[Conductor] ([Id])
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [cfg].[Empresa] ([Id])
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD FOREIGN KEY([MaterialId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD FOREIGN KEY([VehiculoId])
REFERENCES [tpt].[Vehiculo] ([Id])
GO
ALTER TABLE [op].[ReciboEstadoLog]  WITH CHECK ADD FOREIGN KEY([ReciboId])
REFERENCES [op].[Recibo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [prd].[Proceso]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [prd].[Receta] ([Id])
GO
ALTER TABLE [prd].[Proceso]  WITH CHECK ADD FOREIGN KEY([ReciboId])
REFERENCES [op].[Recibo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [prd].[ProcesoDet]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [prd].[ProcesoDet]  WITH CHECK ADD  CONSTRAINT [FK_ProcesoDet_Proceso] FOREIGN KEY([ProcesoId])
REFERENCES [prd].[Proceso] ([Id])
GO
ALTER TABLE [prd].[ProcesoDet] CHECK CONSTRAINT [FK_ProcesoDet_Proceso]
GO
ALTER TABLE [prd].[Receta]  WITH CHECK ADD FOREIGN KEY([PlantaId])
REFERENCES [cfg].[Planta] ([Id])
GO
ALTER TABLE [prd].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_ProductoOrigen] FOREIGN KEY([ProductoOrigenId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [prd].[Receta] CHECK CONSTRAINT [FK_Receta_ProductoOrigen]
GO
ALTER TABLE [prd].[RecetaDet]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [prd].[RecetaDet]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [prd].[Receta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [prd].[SalidaProductoFinal]  WITH CHECK ADD FOREIGN KEY([ProductoFinalId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [prd].[SalidaProductoFinal]  WITH CHECK ADD FOREIGN KEY([ReciboId])
REFERENCES [op].[Recibo] ([Id])
GO
ALTER TABLE [tpt].[LiquidacionAjuste]  WITH CHECK ADD FOREIGN KEY([LiquidacionId])
REFERENCES [tpt].[LiquidacionConductor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [tpt].[LiquidacionAjuste]  WITH CHECK ADD FOREIGN KEY([NovedadId])
REFERENCES [tpt].[Novedad] ([Id])
GO
ALTER TABLE [tpt].[LiquidacionConductor]  WITH CHECK ADD FOREIGN KEY([ConductorId])
REFERENCES [tpt].[Conductor] ([Id])
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [crm].[Cliente] ([Id])
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD FOREIGN KEY([LiquidacionId])
REFERENCES [tpt].[LiquidacionConductor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD FOREIGN KEY([ReciboId])
REFERENCES [op].[Recibo] ([Id])
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD FOREIGN KEY([RemisionId])
REFERENCES [vtas].[Remision] ([Id])
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD FOREIGN KEY([VehiculoId])
REFERENCES [tpt].[Vehiculo] ([Id])
GO
ALTER TABLE [tpt].[Novedad]  WITH CHECK ADD FOREIGN KEY([TipoId])
REFERENCES [cfg].[NovedadTipo] ([Id])
GO
ALTER TABLE [tpt].[NovedadAdjunto]  WITH CHECK ADD FOREIGN KEY([NovedadId])
REFERENCES [tpt].[Novedad] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [tpt].[NovedadConductor]  WITH CHECK ADD FOREIGN KEY([NovedadId])
REFERENCES [tpt].[Novedad] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [tpt].[NovedadRecibo]  WITH CHECK ADD FOREIGN KEY([NovedadId])
REFERENCES [tpt].[Novedad] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [tpt].[NovedadRemision]  WITH CHECK ADD FOREIGN KEY([NovedadId])
REFERENCES [tpt].[Novedad] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [tpt].[NovedadVehiculo]  WITH CHECK ADD FOREIGN KEY([NovedadId])
REFERENCES [tpt].[Novedad] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [tpt].[TarifaConductor]  WITH CHECK ADD FOREIGN KEY([ClaseVehiculoId])
REFERENCES [tpt].[ClaseVehiculo] ([Id])
GO
ALTER TABLE [tpt].[TarifaConductor]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [crm].[Cliente] ([Id])
GO
ALTER TABLE [tpt].[TarifaConductor]  WITH CHECK ADD FOREIGN KEY([PlantaId])
REFERENCES [cfg].[Planta] ([Id])
GO
ALTER TABLE [tpt].[TarifaConductor]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [tpt].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([ClaseVehiculoId])
REFERENCES [tpt].[ClaseVehiculo] ([Id])
GO
ALTER TABLE [tpt].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [cfg].[Empresa] ([Id])
GO
ALTER TABLE [tpt].[VehiculoConductorHist]  WITH CHECK ADD FOREIGN KEY([ConductorId])
REFERENCES [tpt].[Conductor] ([Id])
GO
ALTER TABLE [tpt].[VehiculoConductorHist]  WITH CHECK ADD FOREIGN KEY([VehiculoId])
REFERENCES [tpt].[Vehiculo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [vtas].[Remision]  WITH CHECK ADD FOREIGN KEY([AlmacenId])
REFERENCES [cfg].[Almacen] ([Id])
GO
ALTER TABLE [vtas].[Remision]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [crm].[Cliente] ([Id])
GO
ALTER TABLE [vtas].[Remision]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [cfg].[Empresa] ([Id])
GO
ALTER TABLE [vtas].[RemisionDet]  WITH CHECK ADD FOREIGN KEY([ImpuestoId])
REFERENCES [cfg].[Impuesto] ([Id])
GO
ALTER TABLE [vtas].[RemisionDet]  WITH CHECK ADD FOREIGN KEY([LoteId])
REFERENCES [inv].[Lote] ([Id])
GO
ALTER TABLE [vtas].[RemisionDet]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [cat].[Producto] ([Id])
GO
ALTER TABLE [vtas].[RemisionDet]  WITH CHECK ADD FOREIGN KEY([RemisionId])
REFERENCES [vtas].[Remision] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cat].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Prod_Tipo] CHECK  (([Tipo]=(2) OR [Tipo]=(1) OR [Tipo]=(0)))
GO
ALTER TABLE [cat].[Producto] CHECK CONSTRAINT [CK_Prod_Tipo]
GO
ALTER TABLE [cat].[Producto]  WITH NOCHECK ADD  CONSTRAINT [CK_Producto_Trituracion_Coherencia] CHECK  (([RequiereTrituracion]=(1) AND [Vendible]=(0) AND [Tipo]=(0) OR [RequiereTrituracion]=(0)))
GO
ALTER TABLE [cat].[Producto] CHECK CONSTRAINT [CK_Producto_Trituracion_Coherencia]
GO
ALTER TABLE [cfg].[Almacen]  WITH CHECK ADD  CONSTRAINT [CK_Alm_Tipo] CHECK  (([Tipo]=(2) OR [Tipo]=(1) OR [Tipo]=(0)))
GO
ALTER TABLE [cfg].[Almacen] CHECK CONSTRAINT [CK_Alm_Tipo]
GO
ALTER TABLE [cfg].[Planta]  WITH NOCHECK ADD  CONSTRAINT [CK_cfg_Planta_ModoPostTr] CHECK  (([ModoDespachoPostTrituracion]=N'H' OR [ModoDespachoPostTrituracion]=N'A'))
GO
ALTER TABLE [cfg].[Planta] CHECK CONSTRAINT [CK_cfg_Planta_ModoPostTr]
GO
ALTER TABLE [cfg].[Planta]  WITH NOCHECK ADD  CONSTRAINT [CK_cfg_Planta_UmbralHibrido] CHECK  (([UmbralHibridoPct]>=(0) AND [UmbralHibridoPct]<=(1)))
GO
ALTER TABLE [cfg].[Planta] CHECK CONSTRAINT [CK_cfg_Planta_UmbralHibrido]
GO
ALTER TABLE [inv].[Lote]  WITH CHECK ADD CHECK  (([OrigenTipo]=(1) OR [OrigenTipo]=(0)))
GO
ALTER TABLE [inv].[MovInv]  WITH CHECK ADD CHECK  (([TipoMov]='OUT' OR [TipoMov]='IN'))
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD  CONSTRAINT [CK_Recibo_DestinoTipo] CHECK  (([DestinoTipo]=(2) OR [DestinoTipo]=(1)))
GO
ALTER TABLE [op].[Recibo] CHECK CONSTRAINT [CK_Recibo_DestinoTipo]
GO
ALTER TABLE [op].[Recibo]  WITH CHECK ADD  CONSTRAINT [CK_Recibo_Est] CHECK  (([Estado]=(99) OR [Estado]=(90) OR [Estado]=(40) OR [Estado]=(30) OR [Estado]=(20) OR [Estado]=(12) OR [Estado]=(10) OR [Estado]=(0)))
GO
ALTER TABLE [op].[Recibo] CHECK CONSTRAINT [CK_Recibo_Est]
GO
ALTER TABLE [prd].[Proceso]  WITH CHECK ADD  CONSTRAINT [CK_Proc_Est] CHECK  (([Estado]=(9) OR [Estado]=(1) OR [Estado]=(0)))
GO
ALTER TABLE [prd].[Proceso] CHECK CONSTRAINT [CK_Proc_Est]
GO
ALTER TABLE [prd].[ProcesoDet]  WITH CHECK ADD CHECK  (([CantidadM3]>=(0)))
GO
ALTER TABLE [prd].[RecetaDet]  WITH CHECK ADD CHECK  (([PorcSalida]>=(0)))
GO
ALTER TABLE [tpt].[LiquidacionAjuste]  WITH CHECK ADD CHECK  (([Tipo]='Manual' OR [Tipo]='Novedad'))
GO
ALTER TABLE [tpt].[LiquidacionConductor]  WITH CHECK ADD CHECK  (([Estado]=(2) OR [Estado]=(1) OR [Estado]=(0)))
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD CHECK  (([Cantidad]>=(0)))
GO
ALTER TABLE [tpt].[LiquidacionConductorDet]  WITH CHECK ADD CHECK  (([Unidad]='viaje' OR [Unidad]='m3'))
GO
ALTER TABLE [tpt].[Novedad]  WITH CHECK ADD CHECK  (([Estado]=(3) OR [Estado]=(2) OR [Estado]=(1) OR [Estado]=(0)))
GO
ALTER TABLE [tpt].[Novedad]  WITH CHECK ADD CHECK  (([Severidad]>=(1) AND [Severidad]<=(5)))
GO
ALTER TABLE [tpt].[TarifaConductor]  WITH CHECK ADD CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [tpt].[TarifaConductor]  WITH CHECK ADD CHECK  (([Unidad]='viaje' OR [Unidad]='m3'))
GO
ALTER TABLE [vtas].[Remision]  WITH CHECK ADD  CONSTRAINT [CK_Rem_Est] CHECK  (([Estado]=(9) OR [Estado]=(1) OR [Estado]=(0)))
GO
ALTER TABLE [vtas].[Remision] CHECK CONSTRAINT [CK_Rem_Est]
GO
/****** Object:  StoredProcedure [dbo].[sp_DatabaseSchemaInventory]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Ruta: /sql/admin/sp_DatabaseSchemaInventory.sql | V1.2
CREATE   PROCEDURE [dbo].[sp_DatabaseSchemaInventory]
    @IncludeDefinitions bit = 1,  -- 1: incluye definición (vistas/procs/funciones/triggers)
    @WithRowCounts     bit = 1    -- 1: calcula rowcount estimado por tabla
AS
BEGIN
    SET NOCOUNT ON;

    /* 1) Información de la base de datos */
    SELECT
        DB_NAME() AS DatabaseName,
        DATABASEPROPERTYEX(DB_NAME(), 'Collation')     AS Collation,
        DATABASEPROPERTYEX(DB_NAME(), 'Recovery')      AS RecoveryModel,
        DATABASEPROPERTYEX(DB_NAME(), 'Updateability') AS Updateability,
        DATABASEPROPERTYEX(DB_NAME(), 'Status')        AS [Status],
        d.create_date,
        d.compatibility_level,
        SUSER_SNAME(d.owner_sid) AS [Owner]
    FROM sys.databases d
    WHERE d.database_id = DB_ID();

    /* 2) Esquemas */
    SELECT s.schema_id, s.name AS SchemaName, u.name AS OwnerName
    FROM sys.schemas s
    LEFT JOIN sys.sysusers u ON u.uid = s.principal_id
    ORDER BY s.name;

    /* 3) Tablas (+ filas si se solicita) */
;WITH rc AS (
    SELECT p.object_id,
           SUM(CASE WHEN p.index_id IN (0,1) THEN p.[rows] ELSE 0 END) AS row_count
    FROM sys.partitions p
    GROUP BY p.object_id
)
SELECT
    s.name AS SchemaName,
    t.name AS TableName,
    t.object_id,
    t.create_date,
    t.modify_date,
    t.temporal_type_desc,
    t.is_memory_optimized,
    CASE WHEN @WithRowCounts = 1 THEN ISNULL(rc.row_count, 0) ELSE NULL END AS [RowCount]
FROM sys.tables t
JOIN sys.schemas s ON s.schema_id = t.schema_id
LEFT JOIN rc ON rc.object_id = t.object_id
ORDER BY s.name, t.name;

    /* 4) Columnas */
    SELECT
        sch.name AS SchemaName,
        tbl.name AS TableName,
        col.column_id AS Ordinal,
        col.name AS ColumnName,
        TYPE_NAME(col.user_type_id) AS DataType,
        col.max_length, col.[precision], col.scale,
        col.is_nullable, col.is_identity,
        ic.seed_value, ic.increment_value,
        col.is_computed,
        cc.definition AS ComputedDefinition,
        col.collation_name,
        dcon.name AS DefaultName,
        dcon.definition AS DefaultDefinition
    FROM sys.columns col
    JOIN sys.tables  tbl ON tbl.object_id = col.object_id
    JOIN sys.schemas sch ON sch.schema_id = tbl.schema_id
    LEFT JOIN sys.default_constraints dcon
        ON dcon.parent_object_id = col.object_id
       AND dcon.parent_column_id = col.column_id
    LEFT JOIN sys.computed_columns cc
        ON cc.object_id = col.object_id
       AND cc.column_id = col.column_id
    LEFT JOIN sys.identity_columns ic
        ON ic.object_id = col.object_id
       AND ic.column_id = col.column_id
    ORDER BY sch.name, tbl.name, col.column_id;

    /* 5) Primary Keys / Unique Constraints */
    SELECT
        sch.name AS SchemaName,
        t.name   AS TableName,
        i.name   AS IndexName,
        CASE WHEN i.is_primary_key = 1 THEN 'PRIMARY KEY'
             WHEN i.is_unique_constraint = 1 THEN 'UNIQUE'
             ELSE 'UNIQUE/OTHER' END AS ConstraintType,
        STRING_AGG(CONCAT(c.name, CASE WHEN ic.is_descending_key=1 THEN ' DESC' ELSE ' ASC' END), ', ') AS KeyColumns
    FROM sys.indexes i
    JOIN sys.tables t         ON t.object_id = i.object_id
    JOIN sys.schemas sch      ON sch.schema_id = t.schema_id
    JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
    JOIN sys.columns c        ON c.object_id  = ic.object_id AND c.column_id = ic.column_id
    WHERE (i.is_primary_key = 1 OR i.is_unique_constraint = 1)
    GROUP BY sch.name, t.name, i.name, i.is_primary_key, i.is_unique_constraint
    ORDER BY sch.name, t.name, i.name;

    /* 6) Foreign Keys (con columnas y acciones) */
    SELECT
        sch.name AS SchemaName,
        t.name   AS TableName,
        fk.name  AS ForeignKey,
        schRef.name AS RefSchema,
        tRef.name   AS RefTable,
        fk.delete_referential_action_desc AS OnDelete,
        fk.update_referential_action_desc AS OnUpdate,
        STRING_AGG(c.name, ', ')    AS Columns,
        STRING_AGG(cRef.name, ', ') AS RefColumns,
        fk.is_disabled,
        fk.is_not_trusted
    FROM sys.foreign_keys fk
    JOIN sys.tables t        ON t.object_id = fk.parent_object_id
    JOIN sys.schemas sch     ON sch.schema_id = t.schema_id
    JOIN sys.tables tRef     ON tRef.object_id = fk.referenced_object_id
    JOIN sys.schemas schRef  ON schRef.schema_id = tRef.schema_id
    JOIN sys.foreign_key_columns fkc ON fkc.constraint_object_id = fk.object_id
    JOIN sys.columns c       ON c.object_id  = fkc.parent_object_id     AND c.column_id  = fkc.parent_column_id
    JOIN sys.columns cRef    ON cRef.object_id= fkc.referenced_object_id AND cRef.column_id= fkc.referenced_column_id
    GROUP BY sch.name, t.name, fk.name, schRef.name, tRef.name,
             fk.delete_referential_action_desc, fk.update_referential_action_desc, fk.is_disabled, fk.is_not_trusted
    ORDER BY sch.name, t.name, fk.name;

    /* 7) Índices (con INCLUDE y filtros) */
    SELECT
        sch.name AS SchemaName,
        t.name   AS TableName,
        i.name   AS IndexName,
        i.type_desc,
        i.is_unique,
        i.is_primary_key,
        i.is_unique_constraint,
        i.is_disabled,
        i.fill_factor,
        i.has_filter,
        i.filter_definition,
        KeyCols     = STRING_AGG(CONCAT(c.name, CASE WHEN ic.is_descending_key=1 THEN ' DESC' ELSE ' ASC' END), ', '),
        IncludeCols = STRING_AGG(CASE WHEN ic.is_included_column=1 THEN c.name END, ', ')
    FROM sys.indexes i
    JOIN sys.tables t         ON t.object_id = i.object_id
    JOIN sys.schemas sch      ON sch.schema_id = t.schema_id
    JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
    JOIN sys.columns c        ON c.object_id  = ic.object_id AND c.column_id = ic.column_id
    WHERE i.index_id > 0 AND i.is_hypothetical = 0
    GROUP BY sch.name, t.name, i.name, i.type_desc, i.is_unique, i.is_primary_key,
             i.is_unique_constraint, i.is_disabled, i.fill_factor, i.has_filter, i.filter_definition
    ORDER BY sch.name, t.name, i.name;

    /* 8) CHECK constraints */
    SELECT
        sch.name AS SchemaName,
        t.name   AS TableName,
        chk.name AS CheckName,
        chk.is_disabled,
        chk.is_not_trusted,
        chk.definition
    FROM sys.check_constraints chk
    JOIN sys.tables t    ON t.object_id = chk.parent_object_id
    JOIN sys.schemas sch ON sch.schema_id = t.schema_id
    ORDER BY sch.name, t.name, chk.name;

    /* 9) DEFAULT constraints */
    SELECT
        sch.name AS SchemaName,
        t.name   AS TableName,
        c.name   AS ColumnName,
        dc.name  AS DefaultName,
        dc.definition
    FROM sys.default_constraints dc
    JOIN sys.tables t    ON t.object_id = dc.parent_object_id
    JOIN sys.schemas sch ON sch.schema_id = t.schema_id
    JOIN sys.columns c   ON c.object_id  = dc.parent_object_id AND c.column_id = dc.parent_column_id
    ORDER BY sch.name, t.name, dc.name;

    /* 10) Vistas (is_schema_bound robusto) */
    SELECT
        sch.name AS SchemaName,
        v.name   AS ViewName,
        v.create_date,
        v.modify_date,
        v.is_ms_shipped,
        v.is_published,
        CONVERT(bit, OBJECTPROPERTY(v.object_id, 'IsSchemaBound')) AS is_schema_bound,
        definition = IIF(@IncludeDefinitions=1, sm.definition, NULL)
    FROM sys.views v
    JOIN sys.schemas sch ON sch.schema_id = v.schema_id
    LEFT JOIN sys.sql_modules sm ON sm.object_id = v.object_id
    ORDER BY sch.name, v.name;

    /* 11) Procedimientos almacenados */
    SELECT
        sch.name AS SchemaName,
        p.name   AS ProcName,
        p.create_date,
        p.modify_date,
        p.is_ms_shipped,
        definition = IIF(@IncludeDefinitions=1, sm.definition, NULL)
    FROM sys.procedures p
    JOIN sys.schemas sch ON sch.schema_id = p.schema_id
    LEFT JOIN sys.sql_modules sm ON sm.object_id = p.object_id
    ORDER BY sch.name, p.name;

    /* 12) Funciones (escalares e inline/multistatement) */
    SELECT
        sch.name AS SchemaName,
        o.name   AS FunctionName,
        o.type_desc,
        o.create_date,
        o.modify_date,
        definition = IIF(@IncludeDefinitions=1, sm.definition, NULL)
    FROM sys.objects o
    JOIN sys.schemas sch ON sch.schema_id = o.schema_id
    LEFT JOIN sys.sql_modules sm ON sm.object_id = o.object_id
    WHERE o.type IN ('FN','IF','TF')
    ORDER BY sch.name, o.name;

    /* 13) Triggers */
    SELECT
        sch.name AS SchemaName,
        o.name   AS TableOrView,
        tr.name  AS TriggerName,
        tr.is_disabled,
        tr.is_instead_of_trigger,
        definition = IIF(@IncludeDefinitions=1, sm.definition, NULL)
    FROM sys.triggers tr
    JOIN sys.objects o    ON o.object_id = tr.parent_id
    JOIN sys.schemas sch  ON sch.schema_id = o.schema_id
    LEFT JOIN sys.sql_modules sm ON sm.object_id = tr.object_id
    ORDER BY sch.name, o.name, tr.name;

    /* 14) Secuencias */
    SELECT
        sch.name AS SchemaName,
        seq.name AS SequenceName,
        seq.start_value, seq.increment, seq.minimum_value, seq.maximum_value,
        seq.is_cycling, seq.is_cached, seq.cache_size
    FROM sys.sequences seq
    JOIN sys.schemas sch ON sch.schema_id = seq.schema_id
    ORDER BY sch.name, seq.name;

    /* 15) Sinónimos */
    SELECT
        sch.name AS SchemaName,
        syn.name AS SynonymName,
        syn.base_object_name
    FROM sys.synonyms syn
    JOIN sys.schemas sch ON sch.schema_id = syn.schema_id
    ORDER BY sch.name, syn.name;

    /* 16) Tipos definidos por usuario */
    SELECT
        sch.name AS SchemaName,
        t.name   AS TypeName,
        t.is_table_type,
        UNDERLYING_SYS_TYPE = st.name,
        t.max_length, t.[precision], t.scale, t.is_nullable
    FROM sys.types t
    LEFT JOIN sys.schemas sch ON sch.schema_id = t.schema_id
    LEFT JOIN sys.types st    ON st.user_type_id = t.system_type_id AND st.user_type_id = st.system_type_id
    WHERE t.is_user_defined = 1
    ORDER BY sch.name, t.name;

    /* 17) Extended Properties (objeto/columna) */
    SELECT
        s.name  AS SchemaName,
        o.name  AS ObjectName,
        c.name  AS ColumnName,
        ep.name AS PropertyName,
        CAST(ep.value AS nvarchar(max)) AS PropertyValue
    FROM sys.extended_properties ep
    LEFT JOIN sys.objects o ON o.object_id = ep.major_id
    LEFT JOIN sys.schemas s ON s.schema_id = o.schema_id
    LEFT JOIN sys.columns c ON c.object_id = ep.major_id AND c.column_id = ep.minor_id
    WHERE ep.class IN (1, 2)
    ORDER BY s.name, o.name, c.column_id, ep.name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DatabaseSchemaInventory_JSON]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DatabaseSchemaInventory_JSON]
    @IncludeDefinitions bit = 1,  -- 1: incluye definición (vistas/procs/funciones/triggers)
    @IncludeRowCounts  bit = 1    -- 1: calcula rowcount estimado por tabla
AS
BEGIN
    SET NOCOUNT ON;

    /* Devuelve un ÚNICO JSON (1 fila, 1 columna) con todo el inventario */
    SELECT
        GETUTCDATE() AS generated_at_utc,
        DB_NAME()    AS database_name,

        /* 1) Información de la base */
        JSON_QUERY((
            SELECT
                DB_NAME() AS name,
                d.create_date,
                d.compatibility_level,
                DATABASEPROPERTYEX(DB_NAME(), 'Collation')     AS collation,
                DATABASEPROPERTYEX(DB_NAME(), 'Recovery')      AS recovery_model,
                DATABASEPROPERTYEX(DB_NAME(), 'Updateability') AS updateability,
                DATABASEPROPERTYEX(DB_NAME(), 'Status')        AS [status],
                SUSER_SNAME(d.owner_sid)                       AS owner
            FROM sys.databases d
            WHERE d.database_id = DB_ID()
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        )) AS info,

        /* 2) Esquemas */
        JSON_QUERY((
            SELECT s.schema_id, s.name AS schema_name, u.name AS owner_name
            FROM sys.schemas s
            LEFT JOIN sys.sysusers u ON u.uid = s.principal_id
            ORDER BY s.name
            FOR JSON PATH
        )) AS schemas,

        /* 3) Tablas (con RowCount si se pide) */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                t.name   AS table_name,
                t.object_id,
                t.create_date,
                t.modify_date,
                t.temporal_type_desc,
                t.is_memory_optimized,
                IIF(@IncludeRowCounts=1, rc.row_count, NULL) AS row_count
            FROM sys.tables t
            JOIN sys.schemas sch ON sch.schema_id = t.schema_id
            OUTER APPLY (
                SELECT SUM(CASE WHEN p.index_id IN (0,1) THEN p.rows ELSE 0 END) AS row_count
                FROM sys.partitions p
                WHERE p.object_id = t.object_id
            ) rc
            ORDER BY sch.name, t.name
            FOR JSON PATH
        )) AS tables,

        /* 4) Columnas */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                tbl.name AS table_name,
                col.column_id AS ordinal,
                col.name AS column_name,
                TYPE_NAME(col.user_type_id) AS data_type,
                col.max_length, col.precision, col.scale,
                col.is_nullable, col.is_identity,
                ic.seed_value, ic.increment_value,
                col.is_computed,
                cc.definition AS computed_definition,
                col.collation_name,
                dcon.name AS default_name,
                dcon.definition AS default_definition
            FROM sys.columns col
            JOIN sys.tables  tbl ON tbl.object_id = col.object_id
            JOIN sys.schemas sch ON sch.schema_id = tbl.schema_id
            LEFT JOIN sys.default_constraints dcon
                ON dcon.parent_object_id = col.object_id
               AND dcon.parent_column_id = col.column_id
            LEFT JOIN sys.computed_columns cc
                ON cc.object_id = col.object_id AND cc.column_id = col.column_id
            LEFT JOIN sys.identity_columns ic
                ON ic.object_id = col.object_id AND ic.column_id = col.column_id
            ORDER BY sch.name, tbl.name, col.column_id
            FOR JSON PATH
        )) AS columns,

        /* 5) Primary Keys / Unique Constraints */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                t.name   AS table_name,
                i.name   AS index_name,
                CASE WHEN i.is_primary_key = 1 THEN 'PRIMARY KEY'
                     WHEN i.is_unique_constraint = 1 THEN 'UNIQUE'
                     ELSE 'UNIQUE/OTHER' END AS constraint_type,
                STRING_AGG(CONCAT(c.name, IIF(ic.is_descending_key=1,' DESC',' ASC')), ', ')
                    WITHIN GROUP (ORDER BY ic.key_ordinal) AS key_columns
            FROM sys.indexes i
            JOIN sys.tables t         ON t.object_id = i.object_id
            JOIN sys.schemas sch      ON sch.schema_id = t.schema_id
            JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
            JOIN sys.columns c        ON c.object_id  = ic.object_id AND c.column_id = ic.column_id
            WHERE (i.is_primary_key = 1 OR i.is_unique_constraint = 1)
            GROUP BY sch.name, t.name, i.name, i.is_primary_key, i.is_unique_constraint
            ORDER BY sch.name, t.name, i.name
            FOR JSON PATH
        )) AS pk_uk,

        /* 6) Foreign Keys (con columnas y acciones) */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                t.name   AS table_name,
                fk.name  AS foreign_key,
                schRef.name AS ref_schema,
                tRef.name   AS ref_table,
                fk.delete_referential_action_desc AS on_delete,
                fk.update_referential_action_desc AS on_update,
                STRING_AGG(c.name, ', ')
                    WITHIN GROUP (ORDER BY fkc.constraint_column_id) AS columns,
                STRING_AGG(cRef.name, ', ')
                    WITHIN GROUP (ORDER BY fkc.constraint_column_id) AS ref_columns,
                fk.is_disabled,
                fk.is_not_trusted
            FROM sys.foreign_keys fk
            JOIN sys.tables t        ON t.object_id = fk.parent_object_id
            JOIN sys.schemas sch     ON sch.schema_id = t.schema_id
            JOIN sys.tables tRef     ON tRef.object_id = fk.referenced_object_id
            JOIN sys.schemas schRef  ON schRef.schema_id = tRef.schema_id
            JOIN sys.foreign_key_columns fkc ON fkc.constraint_object_id = fk.object_id
            JOIN sys.columns c       ON c.object_id  = fkc.parent_object_id     AND c.column_id  = fkc.parent_column_id
            JOIN sys.columns cRef    ON cRef.object_id= fkc.referenced_object_id AND cRef.column_id= fkc.referenced_column_id
            GROUP BY sch.name, t.name, fk.name, schRef.name, tRef.name,
                     fk.delete_referential_action_desc, fk.update_referential_action_desc, fk.is_disabled, fk.is_not_trusted
            ORDER BY sch.name, t.name, fk.name
            FOR JSON PATH
        )) AS foreign_keys,

        /* 7) Índices (keys / INCLUDE / filtros) */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                t.name   AS table_name,
                i.name   AS index_name,
                i.type_desc,
                i.is_unique,
                i.is_primary_key,
                i.is_unique_constraint,
                i.is_disabled,
                i.fill_factor,
                i.has_filter,
                i.filter_definition,
                KeyCols = STRING_AGG(
                              CONCAT(c.name, CASE WHEN ic.is_descending_key=1 THEN ' DESC' ELSE ' ASC' END),
                              ', ') WITHIN GROUP (ORDER BY ic.key_ordinal),
                IncludeCols = STRING_AGG(CASE WHEN ic.is_included_column=1 THEN c.name END, ', ')
            FROM sys.indexes i
            JOIN sys.tables t         ON t.object_id = i.object_id
            JOIN sys.schemas sch      ON sch.schema_id = t.schema_id
            JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
            JOIN sys.columns c        ON c.object_id  = ic.object_id AND c.column_id = ic.column_id
            WHERE i.index_id > 0 AND i.is_hypothetical = 0
            GROUP BY sch.name, t.name, i.name, i.type_desc, i.is_unique, i.is_primary_key,
                     i.is_unique_constraint, i.is_disabled, i.fill_factor, i.has_filter, i.filter_definition
            ORDER BY sch.name, t.name, i.name
            FOR JSON PATH
        )) AS indexes,

        /* 8) CHECK constraints */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                t.name   AS table_name,
                chk.name AS check_name,
                chk.is_disabled,
                chk.is_not_trusted,
                chk.definition
            FROM sys.check_constraints chk
            JOIN sys.tables t    ON t.object_id = chk.parent_object_id
            JOIN sys.schemas sch ON sch.schema_id = t.schema_id
            ORDER BY sch.name, t.name, chk.name
            FOR JSON PATH
        )) AS checks,

        /* 9) DEFAULT constraints */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                t.name   AS table_name,
                c.name   AS column_name,
                dc.name  AS default_name,
                dc.definition
            FROM sys.default_constraints dc
            JOIN sys.tables t    ON t.object_id = dc.parent_object_id
            JOIN sys.schemas sch ON sch.schema_id = t.schema_id
            JOIN sys.columns c   ON c.object_id  = dc.parent_object_id AND c.column_id = dc.parent_column_id
            ORDER BY sch.name, t.name, dc.name
            FOR JSON PATH
        )) AS defaults,

        /* 10) Vistas (robusto: sin v.is_schema_bound) */
JSON_QUERY((
    SELECT
        sch.name AS schema_name,
        v.name   AS view_name,
        v.create_date,
        v.modify_date,
        v.is_ms_shipped,
        v.is_published,
        -- <== AQUÍ el cambio
        CONVERT(bit, OBJECTPROPERTY(v.object_id, 'IsSchemaBound')) AS is_schema_bound,
        IIF(@IncludeDefinitions=1, sm.definition, NULL) AS definition
    FROM sys.views v
    JOIN sys.schemas sch ON sch.schema_id = v.schema_id
    LEFT JOIN sys.sql_modules sm ON sm.object_id = v.object_id
    ORDER BY sch.name, v.name
    FOR JSON PATH
)) AS views,


        /* 11) Procedimientos */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                p.name   AS proc_name,
                p.create_date,
                p.modify_date,
                p.is_ms_shipped,
                IIF(@IncludeDefinitions=1, sm.definition, NULL) AS definition
            FROM sys.procedures p
            JOIN sys.schemas sch ON sch.schema_id = p.schema_id
            LEFT JOIN sys.sql_modules sm ON sm.object_id = p.object_id
            ORDER BY sch.name, p.name
            FOR JSON PATH
        )) AS procedures,

        /* 12) Funciones (escalares/inlines/tvf) */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                o.name   AS function_name,
                o.type_desc,
                o.create_date,
                o.modify_date,
                IIF(@IncludeDefinitions=1, sm.definition, NULL) AS definition
            FROM sys.objects o
            JOIN sys.schemas sch ON sch.schema_id = o.schema_id
            LEFT JOIN sys.sql_modules sm ON sm.object_id = o.object_id
            WHERE o.type IN ('FN','IF','TF')
            ORDER BY sch.name, o.name
            FOR JSON PATH
        )) AS functions,

        /* 13) Triggers */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                o.name   AS table_or_view,
                tr.name  AS trigger_name,
                tr.is_disabled,
                tr.is_instead_of_trigger,
                IIF(@IncludeDefinitions=1, sm.definition, NULL) AS definition
            FROM sys.triggers tr
            JOIN sys.objects o    ON o.object_id = tr.parent_id
            JOIN sys.schemas sch  ON sch.schema_id = o.schema_id
            LEFT JOIN sys.sql_modules sm ON sm.object_id = tr.object_id
            ORDER BY sch.name, o.name, tr.name
            FOR JSON PATH
        )) AS triggers,

        /* 14) Secuencias */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                seq.name AS sequence_name,
                seq.start_value, seq.increment, seq.minimum_value, seq.maximum_value,
                seq.is_cycling, seq.is_cached, seq.cache_size
            FROM sys.sequences seq
            JOIN sys.schemas sch ON sch.schema_id = seq.schema_id
            ORDER BY sch.name, seq.name
            FOR JSON PATH
        )) AS sequences,

        /* 15) Sinónimos */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                syn.name AS synonym_name,
                syn.base_object_name
            FROM sys.synonyms syn
            JOIN sys.schemas sch ON sch.schema_id = syn.schema_id
            ORDER BY sch.name, syn.name
            FOR JSON PATH
        )) AS synonyms,

        /* 16) Tipos definidos por usuario */
        JSON_QUERY((
            SELECT
                sch.name AS schema_name,
                t.name   AS type_name,
                t.is_table_type,
                st.name  AS underlying_sys_type,
                t.max_length, t.precision, t.scale, t.is_nullable
            FROM sys.types t
            LEFT JOIN sys.schemas sch ON sch.schema_id = t.schema_id
            LEFT JOIN sys.types   st  ON st.user_type_id = t.system_type_id AND st.user_type_id = st.system_type_id
            WHERE t.is_user_defined = 1
            ORDER BY sch.name, t.name
            FOR JSON PATH
        )) AS user_types,

        /* 17) Extended Properties */
        JSON_QUERY((
            SELECT
                s.name  AS schema_name,
                o.name  AS object_name,
                c.name  AS column_name,
                ep.name AS property_name,
                CAST(ep.value AS nvarchar(max)) AS property_value
            FROM sys.extended_properties ep
            LEFT JOIN sys.objects o ON o.object_id = ep.major_id
            LEFT JOIN sys.schemas s ON s.schema_id = o.schema_id
            LEFT JOIN sys.columns c ON c.object_id = ep.major_id AND c.column_id = ep.minor_id
            WHERE ep.class IN (1, 2)
            ORDER BY s.name, o.name, c.column_id, ep.name
            FOR JSON PATH
        )) AS extended_properties

    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Verificar_Estructura_Proyecto]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Verificar_Estructura_Proyecto]
    @ExpectedColumnsJson nvarchar(max) = NULL   -- opcional: JSON con columnas esperadas
AS
BEGIN
    SET NOCOUNT ON;

    /* ============================
       0) Tablas objetivo del proyecto
       ============================ */
    IF OBJECT_ID('tempdb..#TablasProyecto') IS NOT NULL DROP TABLE #TablasProyecto;
    CREATE TABLE #TablasProyecto(
        SchemaName sysname NOT NULL,
        TableName  sysname NOT NULL,
        PRIMARY KEY (SchemaName, TableName)
    );

    INSERT INTO #TablasProyecto(SchemaName,TableName) VALUES
    -- cfg
    (N'cfg',N'Empresa'),
    (N'cfg',N'Planta'),
    (N'cfg',N'Almacen'),
    (N'cfg',N'Rol'),
    (N'cfg',N'RolPermiso'),
    (N'cfg',N'Impuesto'),
    (N'cfg',N'NovedadTipo'),
    -- cat
    (N'cat',N'Unidad'),
    (N'cat',N'Producto'),
    -- crm
    (N'crm',N'Cliente'),
    -- tpt (transporte)
    (N'tpt',N'ClaseVehiculo'),
    (N'tpt',N'Vehiculo'),
    (N'tpt',N'Conductor'),
    (N'tpt',N'VehiculoConductorHist'),
    (N'tpt',N'Novedad'),
    (N'tpt',N'NovedadAdjunto'),
    (N'tpt',N'NovedadRecibo'),
    (N'tpt',N'NovedadRemision'),
    (N'tpt',N'NovedadVehiculo'),
    (N'tpt',N'NovedadConductor'),
    (N'tpt',N'TarifaConductor'),
    (N'tpt',N'LiquidacionConductor'),
    (N'tpt',N'LiquidacionConductorDet'),
    (N'tpt',N'LiquidacionAjuste'),
    -- op
    (N'op',N'Recibo'),
    (N'op',N'ReciboEstadoLog'),
    -- prd
    (N'prd',N'Receta'),
    (N'prd',N'RecetaDet'),
    (N'prd',N'Proceso'),
    (N'prd',N'ProcesoDet'),
    (N'prd',N'SalidaProductoFinal'),
    -- inv
    (N'inv',N'Lote'),
    (N'inv',N'Stock'),
    (N'inv',N'MovInv'),
    -- vtas
    (N'vtas',N'Remision'),
    (N'vtas',N'RemisionDet');

    /* ============================
       1) ActualTables en temp para reuso
       ============================ */
    IF OBJECT_ID('tempdb..#ActualTables') IS NOT NULL DROP TABLE #ActualTables;
    CREATE TABLE #ActualTables(
        SchemaName sysname NOT NULL,
        TableName  sysname NOT NULL,
        PRIMARY KEY (SchemaName, TableName)
    );

    INSERT INTO #ActualTables(SchemaName, TableName)
    SELECT s.name, t.name
    FROM sys.schemas s
    JOIN sys.tables  t ON t.schema_id = s.schema_id;

    -- 1.1 Tablas faltantes
    SELECT 'TABLAS_FALTANTES' AS Tag, p.SchemaName, p.TableName
    FROM #TablasProyecto p
    LEFT JOIN #ActualTables a ON a.SchemaName = p.SchemaName AND a.TableName = p.TableName
    WHERE a.TableName IS NULL
    ORDER BY p.SchemaName, p.TableName;

    -- 1.2 Tablas sobrantes dentro de los esquemas del proyecto
    SELECT 'TABLAS_SOBRANTES_EN_ESQUEMAS' AS Tag, a.SchemaName, a.TableName
    FROM #ActualTables a
    LEFT JOIN #TablasProyecto p ON p.SchemaName = a.SchemaName AND p.TableName = a.TableName
    WHERE p.TableName IS NULL
      AND a.SchemaName IN (N'cfg',N'cat',N'crm',N'tpt',N'op',N'prd',N'inv',N'vtas')
    ORDER BY a.SchemaName, a.TableName;

    /* ============================
       2) Columnas actuales de las tablas del proyecto (existentes)
       ============================ */
    IF OBJECT_ID('tempdb..#ActualColsProject') IS NOT NULL DROP TABLE #ActualColsProject;
    CREATE TABLE #ActualColsProject(
        SchemaName sysname NOT NULL,
        TableName  sysname NOT NULL,
        ColumnName sysname NOT NULL,
        DataType   sysname NOT NULL,
        MaxLength  int     NULL,
        [Precision] int    NULL,
        [Scale]     int    NULL,
        IsNullable bit     NOT NULL,
        ColOrder   int     NOT NULL
    );

    INSERT INTO #ActualColsProject (SchemaName, TableName, ColumnName, DataType, MaxLength, [Precision], [Scale], IsNullable, ColOrder)
    SELECT
        s.name,
        t.name,
        c.name,
        ty.name,
        CASE 
          WHEN ty.name IN (N'nvarchar', N'nchar')  THEN CASE WHEN c.max_length < 0 THEN -1 ELSE c.max_length/2 END
          WHEN ty.name IN (N'varchar',  N'char')   THEN c.max_length
          ELSE NULL
        END,
        CASE WHEN ty.name IN (N'decimal', N'numeric') THEN c.[precision] ELSE NULL END,
        CASE WHEN ty.name IN (N'decimal', N'numeric') THEN c.scale      ELSE NULL END,
        CONVERT(bit, CASE WHEN c.is_nullable = 1 THEN 1 ELSE 0 END),
        c.column_id
    FROM sys.schemas s
    JOIN sys.tables  t ON t.schema_id = s.schema_id
    JOIN sys.columns c ON c.object_id = t.object_id
    JOIN sys.types   ty ON ty.user_type_id = c.user_type_id
    JOIN #TablasProyecto p ON p.SchemaName = s.name AND p.TableName = t.name
    JOIN #ActualTables  a ON a.SchemaName = s.name AND a.TableName = t.name; -- solo existentes

    -- 2.1 Snapshot de columnas
    SELECT 'SNAPSHOT_COLUMNAS' AS Tag, *
    FROM #ActualColsProject
    ORDER BY SchemaName, TableName, ColOrder;

    /* ============================
       3) Comparación opcional con JSON esperado
       ============================ */
    IF @ExpectedColumnsJson IS NOT NULL
    BEGIN
        -- 3.0 Expected en temp
        IF OBJECT_ID('tempdb..#Expected') IS NOT NULL DROP TABLE #Expected;
        CREATE TABLE #Expected(
            SchemaName sysname NOT NULL,
            TableName  sysname NOT NULL,
            ColumnName sysname NOT NULL,
            DataType   sysname NOT NULL,
            MaxLength  int     NULL,
            Precision  int     NULL,
            Scale      int     NULL,
            IsNullable bit     NOT NULL
        );

        INSERT INTO #Expected (SchemaName, TableName, ColumnName, DataType, MaxLength, Precision, Scale, IsNullable)
        SELECT 
            j.SchemaName, j.TableName, j.ColumnName, j.DataType, j.MaxLength, j.Precision, j.Scale, CONVERT(bit, j.IsNullable)
        FROM OPENJSON(@ExpectedColumnsJson)
        WITH (
            SchemaName sysname      '$.SchemaName',
            TableName  sysname      '$.TableName',
            ColumnName sysname      '$.ColumnName',
            DataType   sysname      '$.DataType',
            MaxLength  int          '$.MaxLength',
            Precision  int          '$.Precision',
            Scale      int          '$.Scale',
            IsNullable bit          '$.IsNullable'
        ) AS j;

        -- 3.1 Todas las columnas actuales (de toda la BD) en temp para comparar
        IF OBJECT_ID('tempdb..#ActualColsAll') IS NOT NULL DROP TABLE #ActualColsAll;
        CREATE TABLE #ActualColsAll(
            SchemaName sysname NOT NULL,
            TableName  sysname NOT NULL,
            ColumnName sysname NOT NULL,
            DataType   sysname NOT NULL,
            MaxLength  int     NULL,
            [Precision] int    NULL,
            [Scale]     int    NULL,
            IsNullable bit     NOT NULL
        );

        INSERT INTO #ActualColsAll (SchemaName, TableName, ColumnName, DataType, MaxLength, [Precision], [Scale], IsNullable)
        SELECT
            s.name,
            t.name,
            c.name,
            ty.name,
            CASE 
              WHEN ty.name IN (N'nvarchar', N'nchar')  THEN CASE WHEN c.max_length < 0 THEN -1 ELSE c.max_length/2 END
              WHEN ty.name IN (N'varchar',  N'char')   THEN c.max_length
              ELSE NULL
            END,
            CASE WHEN ty.name IN (N'decimal', N'numeric') THEN c.[precision] ELSE NULL END,
            CASE WHEN ty.name IN (N'decimal', N'numeric') THEN c.scale      ELSE NULL END,
            CONVERT(bit, CASE WHEN c.is_nullable = 1 THEN 1 ELSE 0 END)
        FROM sys.schemas s
        JOIN sys.tables  t ON t.schema_id = s.schema_id
        JOIN sys.columns c ON c.object_id = t.object_id
        JOIN sys.types   ty ON ty.user_type_id = c.user_type_id;

        -- 3.2 Faltantes
        SELECT 'COL_FALTANTE' AS Tag, e.*
        FROM #Expected e
        LEFT JOIN #ActualColsAll a
          ON a.SchemaName = e.SchemaName AND a.TableName = e.TableName AND a.ColumnName = e.ColumnName
        WHERE a.ColumnName IS NULL
        ORDER BY e.SchemaName, e.TableName, e.ColumnName;

        -- 3.3 Sobrantes (solo dentro de los esquemas del proyecto)
        SELECT 'COL_SOBRANTE' AS Tag, a.*
        FROM #ActualColsAll a
        LEFT JOIN #Expected e
          ON a.SchemaName = e.SchemaName AND a.TableName = e.TableName AND a.ColumnName = e.ColumnName
        WHERE e.ColumnName IS NULL
          AND a.SchemaName IN (N'cfg',N'cat',N'crm',N'tpt',N'op',N'prd',N'inv',N'vtas')
        ORDER BY a.SchemaName, a.TableName, a.ColumnName;

        -- 3.4 Diferencias
        SELECT 
            'COL_DIFERENCIA' AS Tag,
            e.SchemaName, e.TableName, e.ColumnName,
            ExpectedType   = e.DataType,
            ActualType     = a.DataType,
            ExpectedLen    = e.MaxLength,
            ActualLen      = a.MaxLength,
            ExpectedPrec   = e.Precision,
            ActualPrec     = a.Precision,
            ExpectedScale  = e.Scale,
            ActualScale    = a.Scale,
            ExpectedNull   = e.IsNullable,
            ActualNull     = a.IsNullable
        FROM #Expected e
        JOIN #ActualColsAll a
          ON a.SchemaName = e.SchemaName AND a.TableName = e.TableName AND a.ColumnName = e.ColumnName
        WHERE 
            ISNULL(e.DataType,   N'') <> ISNULL(a.DataType,   N'')
         OR ISNULL(e.MaxLength, -1   ) <> ISNULL(a.MaxLength, -1   )
         OR ISNULL(e.Precision, -1   ) <> ISNULL(a.Precision, -1   )
         OR ISNULL(e.Scale,     -1   ) <> ISNULL(a.Scale,     -1   )
         OR ISNULL(e.IsNullable,0    ) <> ISNULL(a.IsNullable,0)
        ORDER BY e.SchemaName, e.TableName, e.ColumnName;
    END
END
GO
/****** Object:  StoredProcedure [op].[Sp_TomarConsecutivoRecibo]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4) SP
CREATE   PROCEDURE [op].[Sp_TomarConsecutivoRecibo]
  @EmpresaId   int,
  @Consecutivo int OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM op.Consecutivos WITH (HOLDLOCK, UPDLOCK) WHERE EmpresaId = @EmpresaId)
  BEGIN
    INSERT INTO op.Consecutivos(EmpresaId, Siguiente) VALUES (@EmpresaId, 1);
  END

  UPDATE op.Consecutivos WITH (ROWLOCK, UPDLOCK)
    SET @Consecutivo = Siguiente,
        Siguiente    = Siguiente + 1
  WHERE EmpresaId = @EmpresaId;
END
GO
/****** Object:  StoredProcedure [op].[TomarConsecutivo]    Script Date: 29/10/2025 10:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [op].[TomarConsecutivo]
    @EmpresaId  int,
    @Siguiente  int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRAN;

    /* Bloqueo por fila de empresa */
    UPDATE c WITH (UPDLOCK, HOLDLOCK)
    SET Siguiente = Siguiente
    FROM op.Consecutivos c
    WHERE c.EmpresaId = @EmpresaId;

    IF @@ROWCOUNT = 0
        INSERT INTO op.Consecutivos (EmpresaId, Siguiente) VALUES (@EmpresaId, 1);

    SELECT @Siguiente = Siguiente
    FROM op.Consecutivos
    WHERE EmpresaId = @EmpresaId;

    UPDATE op.Consecutivos
    SET Siguiente = @Siguiente + 1
    WHERE EmpresaId = @EmpresaId;

    COMMIT;
END
GO
